.body{
	margin:0px; 
	background-color: #F0F0F0;
}
.header{
	width: 100%;
	height:29%;
	line-height: 500%;
}
#img1{
	width:100%;
	height:100%;
}
.download{
	float: left;
	font-family: "Microsoft YaHei";
	font-size: 30px;
}
a{
	text-decoration: none;
}
.download a{
 	color: #CF8A3D; 
}
.show{
	width:100%;
	height:13%;
	text-align: center;
	font-family: "Microsoft YaHei";
	color:#959595;
	line-height: 500%;
	font-size: 35px;
}
#number{
	color:#FF9700;
	font-size: 70px;
}
.main1{
	width:100%;
	height:43%;
	text-align: center;
	font-family: "Microsoft YaHei";
}
#img2{
	height:auto;
	width:50%;
}
.main2{
	display: none;
	width:100%;
	height:43%;
}
.calculate{
	background-color: #FFFFFF;
	width:100%;
	height:55%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.describe{
	height:70%;
}

.text{
	height:100%;
	width:40%;
	float:left;
	margin-left: 20%;
	text-align: center;
	line-height: 150%;
	font-size: 35px;
	color: #959595;
}
.img{
	height:40%;
	width:30%;
	float:left;
	margin-right: 10%;
	line-height: 150%;
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3%;
}
#img3{
	height:100px;
	background-color: #FFFFFF;
}
#imgdescribe{
	background-color: #FF9700;
	text-align: center;
	overflow:visible;
	padding:10px;
	border-radius:15px;
	font-size: 35px;
}
#ipoint{
	height:25%;
	float:right;
	margin-right: 50px;
	font-size: 60px;
	font-family: "Microsoft YaHei";
	color:#CF8A3D;
	background-color: #FFFFFF; 
	border-style: none;
	border-width: 0px;
	border:#F0F0F0 solid 1px;
	border-radius:25px;
}

.sum{
	height:45%;
	text-align: center;
	color:#959595;
	line-height: 200%;
	font-family: "Microsoft YaHei";
	font-size: 35px;

}
#opoint{
	border-style: none;
	font-family: "Microsoft YaHei";
	color:#FF9700;
	background-color: #F0F0F0; 
	height:45%;
	padding:0px;
	margin: 0px;
	border-width:0px;
	font-size: 70px;
	text-align: center;
	vertical-align:middle;
}
.footer{
	width:100%;
	height:15%;
	text-align: center;
	font-size: 60px;
	line-height: 400%;
	font-family: "Microsoft YaHei";
}
#img5{
	height: 80%;
	width: 90%;
	margin-left: 5%;
	/*background-image: url(photo/anniu2.png);
	background-repeat:no-repeat;*/
}
.footer a{
	color:#FFFFFF;
	text-align: center;
	position: relative;
	font-size: 100px;
	line-height: 100%;
	background-color: #56CF99;
	padding:5% 15% 5% 15%; 
	border-radius:40px;
}