.body{
	margin:0px; 
	background-color: #F0F0F0;
}
.header{
	width: 100%;
	height:29%;
	line-height: 500%;
}
#img1{
	width:100%;
	height:100%;
}
.download{
	float: left;
	font-family: "Microsoft YaHei";
	font-size: 30px;
}
a{
	text-decoration: none;
}
.download a{
 	color: #CF8A3D; 
}
.show{
	width:100%;
	height:13%;
	text-align: center;
	font-family: "Microsoft YaHei";
	color:#959595;
	font-size: 35px;
}
#number{
	color:#FF9700;
	font-size: 70px;
}
.main1{
	width:100%;
	height:43%;
	text-align: center;
	font-family: "Microsoft YaHei";
	overflow: hidden;
}
#img2{
	height:auto;
	width:50%;
}
.main2{
	display: none;
	width:100%;
	height:43%;
}
.calculate{
	background-color: #FFFFFF;
	width:100%;
	height:55%;
	padding: 0px;/*修改*/
}
.describe{
	height:60%;
	padding-top: 2.3%;
}
.text{
	height:100%;
	width:60%;
	float:left;
	margin-left: 10%;
	text-align: center;
	line-height: 100%;
	font-size: 35px;
	color: #959595;
	padding-top: 2.3%;
}
.img{
	height:100%;
	width:30%;
	float:left;
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
}
#img3{
	height:50%;/*修改*/
	background-color: #FFFFFF;
}
img{
	height:100%;
	width:auto;
}
#imgdescribe{
	background-color: #FF9700;
	text-align: center;
	overflow:visible;
	padding:5px;
	border-radius:15px;
	font-size: 35px;
}
#ipoint{
	height:25%;/*修改*/
	float:right;
	margin-right: 50px;
	font-size: 60px;
	font-family: "Microsoft YaHei";
	color:#CF8A3D;
	background-color: #FFFFFF; 
	border-style: none;
	border-width: 0px;
	border:#F0F0F0 solid 1px;
	border-radius:25px;
}

.sum{
	height:45%;
	text-align: center;
	color:#959595;
	line-height: 300%;
	font-family: "Microsoft YaHei";
	font-size: 35px;

}
#opoint{
	border-style: none;
	font-family: "Microsoft YaHei";
	color:#FF9700;
	background-color: #F0F0F0; 
	height:45%;
	padding:0px;
	margin: 0px;
	border-width:0px;
	font-size: 65px;
	text-align: center;
}
.footer{
	width:100%;
	height:15%;
	text-align: center;
	font-size: 60px;
	font-family: "Microsoft YaHei";
}
#img5{
	height: 80%;
	width: 90%;
	margin-left: 5%;
	background-repeat:no-repeat;
}
.footer a{
	color:#FFFFFF;
	text-align: center;
	font-size: 60px;
	line-height: 100%;
}