.body{
	/*width:640px;
	height:1136px;*/
	margin: 0px;
}
.header{
	width: 100%;
	height:10%;
	line-height: 200%;
}
.title{
	width:60%;
	color:#5A976B;
	float:left;
	text-align: center;
	margin-left: 20%;
	font-size: 30px;
	font-family: "Microsoft YaHei";
}
.download{
	float: left;
	font-family: "Microsoft YaHei";
}
a{
	text-decoration: none;
}
.download a{
 	color: #CF8A3D; 
}
.show{
	width:100%;
	height:20%;
	text-align: center;
	font-family: "Microsoft YaHei";
	color:#c0c0c0;
	line-height: 500%;
	font-size: 20px;
}
.main1{
	width:100%;
	height:60%;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.search{
	height:50px;
	width:50px;
}
img{
	height:auto;
	width:50%;
}
.main2{
	width:100%;
	height:60%;
}
.calculate{
	background-color: #5A976B;
	width:100%;
	height:55%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.describe{
	height:70%;
}
.point{
	height:30%;
	float:right;
	margin-right: 100px;
	font-size: 28px;
	font-family: "Microsoft YaHei";
}
#opoint{
	height:30%;
	float:right;
	margin-right: 100px;
	font-size: 28px;
	font-family: "Microsoft YaHei";
	color:#CF8A3D;
	background-color: #5A976B; 
	border-style: none;
	border-width: 0px;
}
.text{
	height:100%;
	width:50%;
	float:left;
	margin-left: 20%;
	text-align: center;
	line-height: 150%;
	font-size: 25px;
	color: #FED0AE;
}
.img{
	height:100%;
	width:30%;
	float:left;
}
.sum{
	height:45%;
	text-align: center;
	color:#8cbb97;
	line-height: 400%;
	font-family: "Microsoft YaHei";
}
#ipoint{
	border-style: none;
	font-family: "Microsoft YaHei";
	color:#8cbb97;
	background-color: #FFFFFF; 
}
.footer{
	width:100%;
	height:10%;
	background-color:#CF8A3D ;
	text-align: center;
	font-size: 30px;
	line-height: 200%;
	font-family: "Microsoft YaHei";
}
.footer a{
	color: #ffffff; 
}
