@media all and (orientation : landscape) { /*　　这是匹配横屏的状态，横屏时的css代码　　*/
#body{
	margin:0px; 
	background-color: #F0F0F0;
	height:1366px;
}
} 
@media all and (orientation : portrait){/*　　这是匹配竖屏的状态，竖屏时的css代码　　*/
#body{
	margin:0px; 
	background-color: #F0F0F0;
}
} 
.header{
	width: 100%;
	height:29%;
	line-height: 500%;
}
#img1{
	width:100%;
	height:100%;
}
a{
	text-decoration: none;
}
.show{
	width:100%;
	height:13%;
	text-align: center;
	font-family: "Microsoft YaHei";
	color:#959595;
	font-size: 150%;
	line-height: 500%;
}
#number{
	color:#FF9700;
	font-size: 200%;
}
.main1{
	width:100%;
	height:47%;
	text-align: center;
	font-family: "Microsoft YaHei";
	overflow: hidden;
}
#img2{
	height:auto;
	width:25%;
	margin-top: 15%;
}
#identify{
	font-family: "Microsoft YaHei";
	color:#FF9700;
	font-size: 200%;
	line-height: 200%;
}
#page1{
	width:100%;
	height:100%;
	position: relative;
}
#page2{
	display: none;
	width: 100%;
	position: absolute;
	left: 0px;
	top:0px;
	height:89%;
	margin: 0 auto;
	z-index: 9;
	background-color: rgb(144,144,144);
	background-color: rgba(144,144,144,0.5);
}
#main2{
	width:100%;
	height:47%;
	margin-top:70%;
}
.calculate{
	background-color: #FFFFFF;
	width:100%;
	height:55%;
	padding: 0px;
}
.describe{
	padding-top: 10%;
	padding-bottom: 10%;
	height:53%;
}
.text{
	height:100%;
	width:60%;
	float:left;
	text-align: center;
	line-height: 100%;
	font-size: 200%;
	color: #959595;
}
.img{
	height:100%;
	width:30%;
	float:left;
	color: #FFFFFF;
	text-align: center;
}
#img3{
	height:50%;/*修改*/
	background-color: #FFFFFF;
}
img{
	height:100%;
	width:auto;
}
#imgdescribe{
	background-color: #FF9700;
	text-align: center;
	overflow:visible;
	padding:5px;
	border-radius:5px;
	font-size: 200%;
}
#ipoint{
	height: 60%;
	float:left;
	margin-left: 20%;
	margin-right: 5%;
	color:#CF8A3D;
	background-color: #FFFFFF; 
	border-style: none;
	border-width: 0px;
	border:#F0F0F0;
	border-radius:5px;
}

.sum{
	height:15%;
	color:#959595;
	font-family: "Microsoft YaHei";
	font-size: 200%;
	background-color: #FFFFFF;
}
#opoint{
	border-style: none;
	font-family: "Microsoft YaHei";
	color:#FF9700;
	background-color: #F0F0F0; 
	height:45%;
	padding:0px;
	margin: 0px;
	border-width:0px;
	font-size: 120%;
	text-align: center;
}
#footer{
	width:100%;
	height:10%;
	text-align: center;
	font-family: "Microsoft YaHei";
	background-color: #F0F0F0;
}
#img5{
	height: 80%;
	width: 90%;
	margin-left: 5%;
	background-repeat:no-repeat;
}
.footer a{
	color:#FFFFFF;
	text-align: center;
	font-size: 300%;
	line-height: 150%;
}


